
# Math Practice

Multiply 3.93 by 4901

In [34]:
3.93 * 4901

19260.93

Divide 3 by 0.3

In [35]:
3/0.3

10.0

Find the integer result of 3 / 2

In [36]:
int(3/2)

1

Find the remainder of 454 / 7

In [37]:
454 % 7

6

Find the value of 9 raised to the 12th power

In [6]:
9 ** 12

282429536481

Find 3.14159 rounded down to the nearest integer

In [7]:
int(3.14159)

3

Find 3.14159 * 7 rounded to the nearest integer

In [9]:
round(3.14159 * 7)

22

# Data Type Practice

Cast "2019" to an integer

In [10]:
int ("2019")

2019

Cast 2019 to a string

In [11]:
str(2019)

'2019'

Find the data type of True

In [12]:
type(True)

bool

Find the data type of "False"

In [13]:
type("False")

str

Check whether 'c' is greater than 's'

In [14]:
'c' > 's'

False

We know that 30908234 is an even number. Check this using a line of code.

In [15]:
30908234 % 2 == 0

True

Return the value of 6.3 divided by 3.8

In [16]:
6.3/3.8

1.6578947368421053

Now cast the value of 6.3 divided by 3.8 to an integer. Notice anything interesting?

In [17]:
int(6.3/3.8)

1

# String Practice

Print your whole name with one print statement including the necessary spaces

In [38]:
Firstname= "Zhengjie"
Lastname = "Yang"
print(Firstname, Lastname)

Zhengjie Yang

Print your first name and last in different lines

In [25]:
print(Firstname)
print(Lastname)

Zhengjie
Yang

Make the statement correct: print("8 % 2 =" + (8 % 2))

In [27]:
print("8 % 2 =" ,+ (8 % 2))

8 % 2 = 0

Print the following, (including the single and double quotes):<br />
Albert Einstein's best quote is "I have no special talent. I am only passionately curious."

In [33]:
print('''Albert Einstein's best quote is "I have no special talent. I am only passionately curious."''')

Albert Einstein's best quote is "I have no special talent. I am only passionately curious."

Try to concatenate your first name and last name into a single string

In [32]:
Str = Firstname +" "+ Lastname
print(Str)

Zhengjie Yang